
body {
    background: #111;
    color: #AAA;
}

#header-wrapper {
    background: #111;
    border-bottom: none;
}
.searchbox {
    background: #474747;
}

#sidebar {
    background-color: #242424;
}

body {
    font-family: "Source Serif Pro",serif;
    line-height: 1.4;
}
h2, h3, h4, h5, h6 {
    font-family: "Fira Sans", sans-serif;
    color: #2dbfb8b6;
}
h1 {
    font-family: "Fira Sans", sans-serif;
    color: #2dbfb8b6;
}

section#body{
    max-width: 900px;
}

#top-bar {
    background: #111;
}

#homelinks {
  background-color: #3b3b3b;
  border-bottom: none;
}

